body {
    margin: auto;
}
header {
    background-color: black;
    text-align: right;
    padding: 1em;
}
header li{
    display: inline;
    padding-left: 3%;
}
header a {
    color: grey;
    text-decoration: none;
}
header a:hover {
    color: white;
}
.current {
    color: white;
}
header nav {
    width: 80%;
}
main {
margin: 2% 20%;
}

.Welcome {
background-color: grey;
padding: 5% 2%;
}
h1 {
    font-size: 3em;
    font-family: sans-serif;
}
.Welcome p {
    font-family: sans-serif;
    padding : 1% 0;
}
.callToAction {
    background-color: blue;
    color: white;
    font-family: sans-serif;
    border-radius: 10%;
    border: solid;
    border-color: blue;
    padding: 1%;
}
.card1,.card2,.card3 {
  /* margin-right: 5%; */
}

.card {
    width: 100%;
    text-align: justify;
}

/* /////////////////////////* SUPER IMPORTANT ///////////////////////////////////*/


.card:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}


article {
    display: inline-block;
    text-align: justify;
    margin-top: 2%;
    width: 22%;
    border: solid 1px;
    border-color: rgba(78, 78, 78, 0.46);


}
img {
    width: 100%;

}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  margin: 1em auto;
  font-size: 1.5em;
}

article p {
  font-family: sans-serif;
  text-align: center;
    border-bottom: solid 1px;
    border-color: rgba(78, 78, 78, 0.46);
    padding-bottom: 1em;
}

article button {
  display: block;
  margin: 1em auto;
  background-color: blue;
  width: 60%;
  border-style: solid;
  border-color: blue;
  font-size: 1.10em;
  padding: 5px;
  border-radius: 8%;
  color: white;

}
